@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-fontOutfit;
  }
}

@layer components {
  .emphasis {
    color: theme('colors.colorDarkChar');
    font-weight: theme('fontWeight.bold');
  }
  .heading {
    font-family: theme('fontFamily.fontYoungSerif');
    font-size: 1.5rem;
    line-height: 2rem;
    color: theme('colors.colorNutmeg');
  }

  @media (min-width: 725px) {
    .heading {
      font-size: 1.75rem;
    }
  }
}
